<launch>
    <!-- broadcast the transform of the vision sensor -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="kinect_broadcaster" 
	  args="-0.40271 0.66297 0.796599 -0.627278 0.697868 -0.276713 0.207202 /world_link /camera_depth_optical_frame 100" /> -->
    
    <!-- <param name="octomap_frame" type="string" value="odom_combined" />
    <param name="octomap_resolution" type="double" value="0.05" />
    <param name="max_range" type="double" value="5.0" />
    <rosparam command="load" file="$(find uibk_robot_moveit_config)/config/sensors_real.yaml" /> -->
</launch> 