<launch>
<node name="visualization_node" pkg="visualization" type="visualization_node" output="screen"></node>
<param name="path_to_object_database" value="/home/pacman/CODE/pacman/poseEstimation/dataFiles/PCD-MODELS-DOWNSAMPLED/"/>
<param name="path_to_segmented_scene" value="/home/pacman/CODE/pacman/poseEstimation/data/recognizedObjects/scene.pcd"/>
</launch>