<?xml version="1.0"?>
<robot name="lwr" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:include filename="kuka_lwr_arm_defs.xacro"/>
  <xacro:include filename="materials.urdf"/>

  <link name="world_link">
    <inertial>
      <mass value="50.0"/>
      <com xyz="0 0 0"/>
      <inertia  ixx="0.01" ixy="0.00"  ixz="0.00"
                iyy="0.01" iyz="0.00"
                izz="0.01" />
    </inertial>

    <visual>
      <origin xyz="0 0 0.50" rpy="0 0 0"/>
      <geometry>
        <box size="1 1 1.0"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0.50" rpy="0 0 0"/>
      <geometry>
        <box size="1 1 1.0"/>
      </geometry>
    </collision>
  </link>
  
  <xacro:kuka_lwr_arm parent="world" name="lwr" right="1">
    <origin xyz="0 0 1.0" rpy="0 0 0"/>
  </xacro:kuka_lwr_arm>
  
</robot>
