<launch>
  <!--TODO before launching:  check chmod dev sdh, check if robot topics are up-->
  
  <include file="$(find pose_estimation_uibk)/launch/perception.launch"/>
 
  <!--ROBOT HARDWARE AND PLANNERS-->
  
  <include file="$(find schunk_bringup)/components/sdh_solo.launch"/>
  
  <include file="$(find uibk_moveit_adapter)/launch/uibk_plan_execution.launch"/>
  
  <node name="grasp_planner_bham_node" pkg="grasp_planner_bham" type="grasp_planner_bham_node" output="screen" />

  <!--PATH PLANNING-->
  <!--  <include file="$(find path_planner_unipi/launch/xxxxxxx.launch"></include> -->
  
  <!-- PATH EXECUTION -->
  <!-- <include file="$(find XXXXX/XXXX/launch/xxxxxxx.launch"></include> -->

</launch>
