<launch>

  <!--TODO before launching:  check chmod dev sdh, check if robot topics are up-->
  
  <!-- PERCEPTION -->
  <include file="$(find demos)/launch/perception.launch"/>

  <!-- PLANNERS -->
  <include file="$(find demos)/launch/planners.launch"/>

  <!-- CONTROLLERS -->
  <include file="$(find demos)/launch/controllers.launch"/>

</launch>
