<launch>
  <!--TODO before launching:  check chmod dev sdh, check if robot topics are up-->
  <node pkg="tf" type="static_transform_publisher" name="calibration_tf" args=" 0.645214 0.332272 0.714251 -0.627166 0.654277 -0.323644  -071734 /camera_depth_optical_frame /world_link 1"/> 
  
  <include file="$(find pose_estimation_uibk)/launch/perception.launch"/>
  <node name="object_cloud_reader" pkg="object_cloud_reader_node" type="object_cloud_reader_node" output="screen" />
 
  <!--PLANNERS-->
  
  <include file="$(find uibk_robot_moveit_config)/launch/simulation_planning_execution.launch"/> 
  
  <!-- start the planning and execution service node -->
  <!-- NOTE: THIS PACKAGE IS NOT IN THE PACMAN REPO -->
  <node name="plan_execution_node" pkg="uibk_moveit_adapter" type="plan_execution_node" output="screen" />
  
  <!--include file="$(find uibk_moveit_adapter)/launch/hardware_adapter_simulation.launch"/--> 
  
  <include file="$(find grasp_planner_bham)/launch/GraspPlannerBHAM.launch"/>
  
  <!-- PATH PLANNING -->
  <!--  <include file="$(find path_planner_unipi/launch/xxxxxxx.launch"></include> -->
  
  <!-- PATH EXECUTION -->
  <!-- <include file="$(find XXXXX/XXXX/launch/xxxxxxx.launch"></include> -->
  
  <!--HARDWARE-->
  <!-- include file="$(find schunk_bringup)/components/sdh_solo.launch"/ -->

</launch>
