<launch>

	<!-- THE cwd ATRIBUTE IS NECESSARY TO MAKE THE NODE PATH AS THE PATH FOR THE EXECUTION, SUCH THAT THE XML FILES ARE AVAILABLE 
	(see in the CMakeList.txt that the Robot config files are copied)/-->	
	<node pkg="grasp_planner_bham" name="grasp_planner" type="grasp_planner_bham_node" respawn="true" output="screen" cwd="node">
      <param name="config_file" value="$(find grasp_planner_bham)/config/Grasp.xml" />
      <param name="trajectory_file" value="$(find grasp_planner_bham)/resources/pacman_mug1.trj" />
      <param name="pcd_file" value="$(find grasp_planner_bham)/resources/pacman_mug1.pcd" />
  	</node>
</launch>
